.THIS .barcontainer {
    position: relative;
   border: 3px solid black; 
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 auto;
    min-height: 18vw;
    max-height: 50vw;
    min-width: 40%;
    max-width: 60%;
    z-index: 1;
}

.THIS .barcontainerheader {
    display: inline;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #663399;
    border-bottom: 3px solid black;
    font-size: 1em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 black;
    z-index: 0;
}

.THIS .bar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    /* border: 1px solid black; */
    /* border-radius: 6px 6px 0 0; */
    /* background: #663399; */
    background-color: #3296ed;
    width: 5%;
    text-align: center;
    color: white;
    /* text-shadow: 1px 1px 0 black; */
    /* box-shadow: 4px 0 8px #888; */
}

.THIS .barlabel {
    position: absolute;
    border-top: 2px solid black;
    background: #888;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 0px black;
    color: white;
}

.THIS .bar:nth-child(2) {
    left: 5%;
}

.THIS .bar:nth-child(3) {
    left: 20%;
}

.THIS .bar:nth-child(4) {
    left: 35%;
}

.THIS .bar:nth-child(5) {
    left: 50%;
}

.THIS .bar:nth-child(6) {
    left: 65%;
}

.THIS .bar:nth-child(7) {
    left: 80%;
}